In [7]:
import pandas as pd
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk import punkt
import string
from tqdm import tqdm as tq
from collections import Counter
import math

In [8]:
def preprocess(text):
    ### Converting to lowercase
    text = text.lower()
    
    ### Removing Punctuation
    text_p = "".join([char for char in text if char not in string.punctuation])
    
    ### Converting strings to tokens of individual words in a complete string
    words = word_tokenize(text_p)
    
    ### Remove Stopwords
    stop_words = stopwords.words('english')
    filtered_words = [word for word in words if word not in stop_words]
    
    ### Get the root of the word i.e stemming
    porter = PorterStemmer()
    stemmed = [porter.stem(word) for word in filtered_words]
    
    return stemmed

In [9]:
data=pd.read_csv('final_dataset_2_rm_nan_url.csv')

In [18]:
data

,placeName,placeTags,numPeopleVisited,numPeopleWant,placeDesc,placeShortDesc,placeNearby,placeAddress,placeAlt,placeLong,placeEditors,placePubDate,placeRelatedLists,placeRelatedPlaces,placeURL
0,City Hall Station,"Manhattan, New York",1824.0,8569.0,The first New York City subway was built and o...,"City Hall Station,Manhattan, New York, A beaut...","['Tunnel Number 3', 'African Burial Ground Nat...","31 Centre StNew York, New York, 10007United St...",40.7134,-74.0046,"['charding407', 'fosterc827', 'Mike H', 'erjef...","May 8, 2010",['30 Unexpected Places to Have a Joyful Advent...,"['Crystal Palace Subway', 'Moscow Metro Statio...",https://www.atlasobscura.com/places/city-hall-...
1,Highgate Cemetery,"London, England",2615.0,8179.0,"Opened in 1839, Highgate is one of London’s mo...","Highgate Cemetery,London, England, London's cr...","['Dick Whittington’s Cat', ""World's Largest Po...","Swain's Lane, HighgateLondon, England, N6Unite...",51.5675,-0.1483,"['thesecretcity', 'thedyerghoulhouse', 'juliap...","August 9, 2014","[""The World's Top 100 Wonders in 2018"", ""Londo...","['Jewett City Vampires', 'Tomb of the Mather F...",https://www.atlasobscura.com/places/highgate-c...
2,Leadenhall Market,"London, England",3133.0,7560.0,The ornate 19th-century painted roof and cobbl...,"Leadenhall Market,London, England, This ornate...","['The Cornhill Devils', ""London's Original and...","London, England, EC3VUnited Kingdom",51.5126,-0.0834,"['Julius Spada', 'Katecrimson', 'thesecretcity...","August 1, 2016","['The Ultimate Guide to Stunning, Surprising, ...","['Rivendell', 'Bagdad Cafe', 'Gare de la Ciota...",https://www.atlasobscura.com/places/leadenhall...
3,The Wave Organ,"San Francisco, California",2426.0,7400.0,"Located on a jetty in the San Francisco Bay, t...","The Wave Organ,San Francisco, California, A hu...","['The Stern of the Brigantine Galilee', 'Long ...","83 Marina Green DrSan Francisco, California, 9...",37.8085,-122.4401,"['routt1111', 'wefiddleboy14', 'Saal333', 'Nei...","November 21, 2008","[""Leonardo Nam's 16 Quirky Roadside Attraction...","['Sea Organ', 'Silent Green Kulturquartier', ""...",https://www.atlasobscura.com/places/wave-organ
4,Catacombes de Paris,"Paris, France",4442.0,7036.0,"In 2004, Parisian police were assigned to do a...","Catacombes de Paris,Paris, France, The vast, l...","['Sculptures de Décure', ""Jeannot's Floor"", 'A...","1 Place Denfert-RochereauParis, 75014France",48.8343,2.3322,"['marypippen', 'ramonrodz2212', 'mathewbrowne'...","February 13, 2009","['19 Catacombs Sure to Tingle Your Spine', ""Th...","['Ossario di San Martino', 'Leuk Charnel House...",https://www.atlasobscura.com/places/catacombes...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7195,Xul Solar Museum,"Buenos Aires, Argentina",129.0,405.0,With dreams of reforming and perfecting the un...,"Xul Solar Museum,Buenos Aires, Argentina, Xul ...","['Ricardo Rojas House Museum', 'Villa Freud', ...",Laprida 1212Buenos AiresArgentina,-34.5948,-58.4078,[],"September 12, 2016","[""A Linguistics Lover's Tour of the World""]","['Blenko Man', 'Ilana Goor Museum', 'Museo de ...",https://www.atlasobscura.com/places/xul-solar-...
7196,Klatovy Catacomb Mummies,"Klatovy, Czechia",49.0,405.0,In an underground crypt beneath a Jesuit churc...,"Klatovy Catacomb Mummies,Klatovy, Czechia, The...","['Drachenstich-Festspiele', 'Poledník Lookout ...",DenisovaKlatovyCzechia,49.3951,13.2918,[],"February 25, 2016","['19 Catacombs Sure to Tingle Your Spine', ""Bo...","['Rothwell Bone Crypt', 'Ossario di San Martin...",https://www.atlasobscura.com/places/klatovy-ca...
7197,Termesphere Gallery,"Spearfish, South Dakota",71.0,405.0,"Most artists paint on a a flat plane, but in t...","Termesphere Gallery,Spearfish, South Dakota, T...","['Fish Car No. 3', 'Mount Roosevelt Friendship...","1920 Christensen DriveSpearfish, South Dakota,...",44.4574,-103.8258,[],"August 19, 2014",NaN,NaN,https://www.atlasobscura.com/places/termespher...
7198,Wheeler Peak,"Taos Ski Valley, New Mexico",241.0,405.0,At least six mountains in the southwestern Uni...,"Wheeler Peak,Taos Ski Valley, New Mexico, This...","['El Salto del Agua Waterfall', 'Taos Pueblo',...","Wheeler PeakTaos Ski Valley, New Mexico, 87525...",36.6054,-105.4302,[],"July 28, 2014",['The Highest Places in America'],"['Denali', 'Mount Rainier', 'Gannett Peak', 'M...",https://www.atlasobscura.com/places/wheeler-peak
7199,Olana,"Hudson, New York",357.0,405.0,The Hudson River School of painters popularize...,"Olana,Hudson, New York, The Hudson River Schoo...","['Hudson-Athens Lighthouse', 'Catskill Game Fa...","Olana State Historic Site5720 Route 9GHudson, ...",42.2171,-73.8293,"['hannsharonr', 'horticulturcat', 'lisefrac', ...","October 30, 2013",NaN,NaN,https://www.atlasobscura.com/places/olana

In [15]:
data_des = data[['placeDesc']]

In [16]:
prep=[]
for i in range(len(data_des)):
    prep.append(preprocess(data_des[data_des.index==i]['placeDesc'].values[0]))

In [17]:
data_des['prep']=prep

C:\Users\paolo\AppData\Local\Temp\ipykernel_14580\2320318447.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_des['prep']=prep

In [7]:
import pandas as pd
data_des=pd.read_csv('data_des.csv')

In [8]:
data_des

,Unnamed: 0,placeDesc,prep
0,0,The first New York City subway was built and o...,"['first', 'new', 'york', 'citi', 'subway', 'bu..."
1,1,"Opened in 1839, Highgate is one of London’s mo...","['open', '1839', 'highgat', 'one', 'london', '..."
2,2,The ornate 19th-century painted roof and cobbl...,"['ornat', '19thcenturi', 'paint', 'roof', 'cob..."
3,3,"Located on a jetty in the San Francisco Bay, t...","['locat', 'jetti', 'san', 'francisco', 'bay', ..."
4,4,"In 2004, Parisian police were assigned to do a...","['2004', 'parisian', 'polic', 'assign', 'train..."
...,...,...,...
7195,7195,With dreams of reforming and perfecting the un...,"['dream', 'reform', 'perfect', 'univers', 'arg..."
7196,7196,In an underground crypt beneath a Jesuit churc...,"['underground', 'crypt', 'beneath', 'jesuit', ..."
7197,7197,"Most artists paint on a a flat plane, but in t...","['artist', 'paint', 'flat', 'plane', 'termesph..."
7198,7198,At least six mountains in the southwestern Uni...,"['least', 'six', 'mountain', 'southwestern', '..."
7199,7199,The Hudson River School of painters popularize...,"['hudson', 'river', 'school', 'painter', 'popu..."

In [7]:
vocabulary=set()
for i in data_des['prep']:
    vocabulary.update(i)

In [8]:
voc={}
j=0
for i in vocabulary:
    voc[i]=j
    j+=1

In [37]:
data_des

,Unnamed: 0,placeDesc,prep
0,0,The first New York City subway was built and o...,"['first', 'new', 'york', 'citi', 'subway', 'bu..."
1,1,"Opened in 1839, Highgate is one of London’s mo...","['open', '1839', 'highgat', 'one', 'london', '..."
2,2,The ornate 19th-century painted roof and cobbl...,"['ornat', '19thcenturi', 'paint', 'roof', 'cob..."
3,3,"Located on a jetty in the San Francisco Bay, t...","['locat', 'jetti', 'san', 'francisco', 'bay', ..."
4,4,"In 2004, Parisian police were assigned to do a...","['2004', 'parisian', 'polic', 'assign', 'train..."
...,...,...,...
7195,7195,With dreams of reforming and perfecting the un...,"['dream', 'reform', 'perfect', 'univers', 'arg..."
7196,7196,In an underground crypt beneath a Jesuit churc...,"['underground', 'crypt', 'beneath', 'jesuit', ..."
7197,7197,"Most artists paint on a a flat plane, but in t...","['artist', 'paint', 'flat', 'plane', 'termesph..."
7198,7198,At least six mountains in the southwestern Uni...,"['least', 'six', 'mountain', 'southwestern', '..."
7199,7199,The Hudson River School of painters popularize...,"['hudson', 'river', 'school', 'painter', 'popu..."

In [36]:

from tqdm import tqdm

a=[7200/len(data_des[data_des.prep.apply(lambda x: w in x)]) for w in vocab['word']]

ZeroDivisionError: division by zero

In [30]:
#inv=pd.read_csv('inv1.csv')
len(eval(inv[inv['ind']==2494]['doc'].values[0]))

836

In [42]:
vocab['N/n']=list(map(np.log,vocab['N/n']))

In [49]:
vocab.to_csv('vocab.csv')

In [44]:
#vocab['word']=voc.keys()
#vocab['ind']=voc.values()
#vocab
vocab.to_csv('vocab1.csv')

In [19]:
data_des['ind']=[i for i in range(len(data_des))]

C:\Users\paolo\AppData\Local\Temp\ipykernel_14580\623331902.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_des['ind']=[i for i in range(len(data_des))]

In [20]:
from tqdm import tqdm
inv={}
for i,j in voc.items():
    inv[j] = list(data_des[data_des.prep.apply(lambda row: i in row)]['ind'])

In [21]:
inv1=pd.DataFrame()
inv1['ind']=inv.keys()
inv1['doc']=inv.values()
inv1.to_csv('inv1.csv')

In [10]:
vocab=pd.read_csv('vocab1.csv')
vocab=vocab.drop(['Unnamed: 0'], axis=1)
voc = dict(vocab[['word','ind']].values)

In [11]:
inv1=pd.read_csv('inv1.csv')
inv1=inv1.drop(['Unnamed: 0'], axis=1)
inv = dict(inv1.values)

In [ ]:
inv1['doc']=list(map(eval,inv1['doc']))
invtf['doc']=list(map(eval,invtf['doc']))


voc = dict(vocab[['word','ind']].values)
inv =  dict(inv1.values)
invtfvoc= dict(invtf.values)

In [62]:
def findquery(query,data,inv,voc):
    try:
        query_prep=preprocess(query)
        query_prep=[voc[i] for i in query_prep]
        doc=set(inv[query_prep[0]])
        
        try:
            for i in query_prep[1:]:
                doc=doc.intersection(inv[i])
        except:
            pass

        return data[data.index.isin(doc)][['placeName','placeDesc','placeURL']]
    except:
        print('is not in the dataframe')

In [63]:
findquery(query,data,inv,voc)

,placeName,placeDesc,placeURL
30,The Witch's Castle,From tales of murder to bathrooms to the site ...,https://www.atlasobscura.com/places/the-witche...
487,Craig-E-Clair Castle,"Craig-E-Clair Castle, alternatively called Dun...",https://www.atlasobscura.com/places/craig-e-cl...
784,Habsburg Imperial Crypt,Habsburg funerals were elaborate affairs. Deat...,https://www.atlasobscura.com/places/hapsburg-i...
830,Vindicator Valley Trail,Why visit an abandoned mine when you can visit...,https://www.atlasobscura.com/places/vindicator...
988,Thornewood Castle,Thornewood Castle has enjoyed quite the reputa...,https://www.atlasobscura.com/places/thornewood...
1755,The Singing Ringing Tree,The Singing Ringing Tree is aptly named. A 3-m...,https://www.atlasobscura.com/places/singing-ri...
1828,Preston Castle,"Construction for this 46,000 square-foot, 120-...",https://www.atlasobscura.com/places/preston-ca...
1862,Freud Museum London,Sigmund Freud lived and worked for the majorit...,https://www.atlasobscura.com/places/freud-muse...
2641,Sigmund Freud Museum,"For 47 years, the controversial neurologist an...",https://www.atlasobscura.com/places/sigmund-fr...
3061,"Frederick Douglass's House, Cedar Hill",Washington is a Black city with all-too-few mo...,https://www.atlasobscura.com/places/frederick-...
4874,Haunted Vista,The Anna S. underground mine on Rattler Mounta...,https://www.atlasobscura.com/places/haunted-vista
5162,Tina Turner Museum,While driving from Nashville to Memphis there ...,https://www.atlasobscura.com/places/tina-turne...
5726,Orchard House,The Orchard House was purchased by Louisa May ...,https://www.atlasobscura.com/places/louisa-may...
5971,The Wax-Encased Remains of Blessed Anna Maria ...,"Housed in the Basilica of San Crisogono, is a ...",https://www.atlasobscura.com/places/the-waxenc...
6205,'Il Commendatore' ('Cloak of Conscience'),Sculpture artist Anna Chromy’s “Il Commendator...,https://www.atlasobscura.com/places/anna-chrom...
6215,Calistoga Pioneer Cemetery,Calistoga’s Pioneer Cemetery clings to a steep...,https://www.atlasobscura.com/places/calistoga-...
6418,Self-Taught Genius Gallery,"In 2017, the American Folk Art Museum in Manha...",https://www.atlasobscura.com/places/self-taugh...
6845,St. Anna's Tunnel,Majestic wooden escalators lead you deep down ...,https://www.atlasobscura.com/places/st-annas-t...
6930,Museo di Palazzo Poggi Anatomy & Obstetrics Co...,The Anatomical and Obstetrics Collection at th...,https://www.atlasobscura.com/places/anatomy-ob...

In [13]:
from tqdm import tqdm
from operator import countOf
inv2={}
key=list(voc.keys())
for i,j in tqdm(zip(inv1['ind'],inv1['doc'])):
    w=key[int(i)]   
    aaaa[i]=[(t, (list(data[data_des['ind']==t].prep)[0]).count(w)/len(data_des[data_des['ind']==t].prep)) for t in j]

0it [00:00, ?it/s]

NameError: name 'data_des' is not defined

In [68]:
a=[7200/len(data_des[data_des.prep.apply(lambda x: w in x)]) for i in tqdm(voc.keys())]

  1%|▏         | 737/51792 [00:26<33:27, 25.43it/s]

KeyboardInterrupt: